.header{
	position: relative;
	width:100%;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.navigation{
	position: relative;
	width:970px;
	height: 50px;
	margin:0 auto;
}

.logo{
	position: absolute;
	left:0px;
	top:0px;
	width:170px;
	height: 100%;
}

.menu_bar{
	position: absolute;
	left:219px;
	top:0px;
	height: 100%;
	border-left:1px solid #e5e5e5;
}

.menu_btn{
	position: relative;
	float: left;
	width:149px;
	height: 32px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	padding-top:18px;
	border-right:1px solid #e5e5e5;
	cursor: pointer;
}
.menu_btn:hover{
	color:#198591;
}

.menu_btn a{
	color: #000000;
	text-decoration: none;
}
.menu_btn a:hover{
	color: #198591;
	text-decoration: none;
}
