body, html{
	width:100%;
	height: 100%;
	background-color: #eaeaea;
}

.container{
	position: relative;
	width:100%;
	height: 100%;
}

.header{
	position: relative;
	width:100%;
	height: 50px;
	background-color: #aabbcc;
}